.element__delete {
    background-repeat: no-repeat;
    background-color: transparent;
    width: 18px;
    height: 20px;
    border: none;
    position: relative;
    bottom: 350px;
    left: 250px;
    background-image: url(../../../images/trash.svg);
    opacity: 1;
    margin: 0;  
    padding: 0;
  }

  .element__delete:hover {
    opacity: 0.5;
  }