.profile {
    display: flex;
    max-width: 880px;
}

@media (max-width: 1023px) {
.profile {
    flex-direction: column;
}
}

@media (max-width: 767px) {
.profile {
    max-width: 282px;
    margin: 0 auto;
}
}