.header {
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    min-height: 74px;
    width: 100%;
    max-width: 880px;
    margin: 45px auto 40px;
}

@media (max-width: 767px) 
{
.header {
    margin: 28px 0px 42px;
    min-height: 55px;
    padding: 0;
}
}