.element__image {
    border-radius: 10px 10px 0px 0px;
    height: 282px;
    width: 282px;
    display: block;
    cursor: pointer;
}

@media (max-width: 1023px) {
.element__image {
    width: 100%;
}
}

@media (max-width: 767px) {
.element__image {
    width: 282px;
}
}