.element {
    max-width: 282px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
}

@media (max-width: 1023px) {
.element {
    max-width: 100%;
}
}

@media (max-width: 767px) {
.element {
    margin: 0 auto;
    max-width: 282px;
}
}